<h1 class="title">Nuestros Productos</h1>

<div class="products">
  {{#each products}}
    <div class="card">
      <h3>{{this.title}}</h3>
      <p class="price">$ {{this.price}}</p>
      <p>Stock: {{this.stock}}</p>
      <button onclick="addToCart('{{this._id}}', '{{this.title}}', {{this.price}})">
        Agregar al carrito
      </button>
    </div>
  {{/each}}
</div>